body{
  background-color: #FBEFEF;
}

#header{
  background:url('../img/server.jpg') no-repeat center center fixed;
  background-size:100%;
  padding: 60px 10px 60px 10px;
  background-color: #000;
  border:3px solid #acd819;
} #header h1 { color: #fff; padding: 5px 5px 5px 5px; }
